/* =================================== */
/*  3. Layouts
/* =================================== */

#main-wrapper {
    background:$main-wrapper-bg;
}

[data-bs-theme="dark"] {
	#main-wrapper {
		background:$main-wrapper-bg-dark;
	}
}

.section {
  position: relative;
  padding: 88px 0;
  padding: 5.5rem 0;
  overflow:hidden;
}

@include media-breakpoint-down(sm) {
	.section {
		padding: 3.5rem 0;
	}
}

/*== Heading Separator Line ==*/
.heading-separator-line{
	height:44px;
}

/*== Scroll Down Arrow ==*/
.scroll-down-arrow {
	position: absolute;
	z-index: 3;
	bottom: 20px;
	left: calc(50% - 17px);
	width:34px;
	height: 46px;
	color: rgba(0,0,0,0.5);
	text-align: center;
	.animated {
		position: relative;
		animation: fadeInDown 1.5s infinite;
		-webkit-animation: fadeInDown 1.5s infinite;
		-moz-animation: fadeInDown 1.5s infinite;
		-o-animation: fadeInDown 1.5s infinite;
		i{
			height: 46px;
		}
		&:after {
			position: absolute;
			content: " ";
			bottom:-5px;
			left: calc(50% + 0.05px);
			width: 10px;
			height: 10px;
			border-top: 1px solid rgba(0,0,0,0.5);
			border-right: 1px solid rgba(0,0,0,0.5);
			-webkit-transform: translate(-50%, -50%) rotate(135deg);
			transform: translate(-50%, -50%) rotate(135deg);
			@include transition(all 0.2s ease);
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
			background-image: none;
		}
	}
}

[data-bs-theme="dark"] {
	.scroll-down-arrow {
		color: rgba(250,250,250,0.5);
		.animated {
			&:after {
				border-color: rgba(250,250,250,0.5);
			}
		}
	}
}

@keyframes fadeInDown {
  0% {
    top: -25px;
    opacity: 0;
  }
  100% {
    top: 10px;
    opacity: 1;
  }
}


.rotate-animation{
	animation:infiniterotate 10s infinite linear !important;
}

@keyframes infiniterotate{
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Thumb */
.img-thumb {
  width: 75px !important;
  height: auto;
}

.img-thumb-sm {
  width: 50px !important;
  height: auto;
}

.img-thumb-lg {
  width: 100px !important;
  height: auto;
}